body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #669933;
  color: #2ed42e;
  padding: 25px;
  text-align: center;
}

container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ca2323;
  border-radius: 5px;
}

h1 {
  text-align: center;
  margin-top: 0;
}

label {
  display: block;
  margin-bottom: 10px;
}

input,
textarea {
  display: block;
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background-color: #e7ece7;
  box-shadow: 1 2px 4px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
  display: block;
  width: 50%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  background-color: #6ca96c;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #3e8e41;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
}
nav a {
  color: #121111;
  display: block;
  padding: 10px;
  text-decoration: none;
}
nav a:hover {
  background-color: #e12f2f;
  color: #fff;
}
main {
  margin: 20px;
}
section {
  border: 2px solid #e1ed99;
  margin-bottom: 25px;
  padding: 25px;
}
section h2 {
  margin-top: 0;
}
footer {
  background-color: #669933;
  color: #fff;
  padding: 20px;
  text-align: center;
}
#farmers {
  background-color: #88db35;
}

#cold-storage {
  background-color: #88db35;
}

#middlemen {
  background-color: #88db35;
}

#customers {
  background-color: #88db35;
}